@inherits LayoutComponentBase

<PageTitle>Foraging Kentucky</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/ryancornett" target="_blank">Ryan's GitHub</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<footer>
    <div class="footer-content">
        <div class="footer-left">
            <h2>Foraging Kentucky</h2>
            <h5>Encouraging Kentuckians to taste nature's bounties.</h5>
        </div>
        <div class="footer-right">
            <a href="acknowledgements">Acknowledgements</a>
            <a href="accessibility">Accessibility</a>
            <a href="privacy">Privacy</a>
            <a href="disclaimer">Disclaimer</a>
            <a href="contact">Contact</a>
        </div>
    </div>
</footer>