@using Foraging_Kentucky.Data
@using Foraging_Kentucky.Common
@using Foraging_Kentucky.Domain
@using System.Reflection
@inject IRepository<User> repo
@inject IJSRuntime JSRuntime
@page "/dashboard"

<PageTitle>Dashboard</PageTitle>

<h1>Dashboard</h1>
<p>Create or edit your username, supply your email address, or delete your profile.</p>

<div class="btn-group">
    <div class="col-mx-2 flex-row">
        <button class="btn-close-white" @onclick="RevealCreateNewUser">Register</button>

    </div>
</div>

@if (isCreateNewUserVisible)
{
    <NewUser />
}

@code {
    private bool isCreateNewUserVisible = false;

    private void RevealCreateNewUser()
    {
        isCreateNewUserVisible = true;
    }
}

@code {
    protected override async Task OnInitializedAsync()
    {
    }
}
