@using Foraging_Kentucky.Common;
@page "/foraging-basics"

<div>@text</div>

@code {
    private MarkupString text;
    protected override async Task OnInitializedAsync()
    {
        text = Info.Basics;
    }
}
