@using Foraging_Kentucky.Common;
@page "/accessibility"

<div>@text</div>

@code {
    private MarkupString text;
    protected override async Task OnInitializedAsync()
    {
        text = Info.Accessibility;
    }
}