@using Foraging_Kentucky.Common;
@page "/acknowledgements"

<div>@text</div>

@code {
    private MarkupString text;
    protected override async Task OnInitializedAsync()
    {
        text = Info.Acknowledgements;
    }
}
