@using Foraging_Kentucky.Common;
@page "/disclaimer"

<div>@text</div>

@code {
    private MarkupString text;
    protected override async Task OnInitializedAsync()
    {
        text = Info.Disclaimer;
    }
}
