@using Foraging_Kentucky.Common;
@page "/privacy"

<div>@text</div>

@code {
    private MarkupString text;
    protected override async Task OnInitializedAsync()
    {
        text = Info.Privacy;
    }
}
